{{left_sidebar_enabled=True,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block left_sidebar}}
<h2>Welcome to VCFWeb!</h3>
<br><br>
<div class="left-info">
  <p>
    <b>A web-based tool for visualizing, filtering and priorizing variants.</b>
  </p>
  <p>
   When a user logs in, VCFWeb automatically loads her/his data in a table which can be filtered as desired to priorize a small amount of variants.
  </p>
   <br><br>
  <p>
    Please, login to access your data (above menu)
  </p>
  </div>

</div>
{{end}}
